* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}




@media only screen and (max-width: 600px) {
  .small-text {
    font-size: 2rem !important;
  }
}


body {

  height: 100vh;
  overscroll-behavior: none;
  scroll-behavior: smooth;






}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}


.button-shadow {

  border-radius: 45px !important;

}

.element {
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(5px);

  border-radius: 25px;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-right: 4rem;
  width: 200px;
}

hr.style-seven {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.style-seven:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}